{%extends 'base.html'%}

{%load static%}
{%load jsonify %}
{%load custom_tags%}
{%block head%}

    <meta property="og:url"           content="{{travel.get_absolute_url}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ travel.title }}" />
    <meta property="og:description"   content="{{ travel.description}}" />
    <meta property="og:image"         content="{{ travel.image_detail.url}}" />

    	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '2246024605627759'); 
	fbq('track', 'PageView');
	</script>
	<noscript>
	 <img height="1" width="1" 
	src="https://www.facebook.com/tr?id=2246024605627759&ev=PageView
	&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->


	<script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
{%endblock head%}


{% block content %}
	<div class="position-relative">
	  <!-- shape Hero -->
	  <section class="section-shaped my-0">
	    <div class="shape shape-style-1 shape-default shape-skew" style="background-image: url('{{travel.image_detail.url}}')">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	    </div>
	    <div class="container shape-container d-flex">
	      <div class="col px-0">
	        <div class="row">
	          <div class="col-lg-6">
	            <p class="lead">
	        	<br>
	    		</p>
	    		<h1 class="display-1"><span>{{travel.title}}</span></h1>
	    		{% for d in dates %}	
	    		<span class="badge badge-pill badge-warning"><i class="far fa-calendar"></i> {{d.date_time|date:"d / M / Y"}}</span>
	    		{% endfor %}
	    		<span class="badge badge-pill badge-warning"> {{travel.category.name}}</span>
	    		<p>
	    		<br>
	    		<a href="https://wa.me/527712626203?text=Me%20gustaría%20reservar%20en%20{{travel.title}}" target="_blank"><span><button type="button" class="btn btn-warning">Reservar</button></span></a>
	    		<br>
	    		<br>
	    		</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	  <!-- 1st Hero Variation -->
	</div>
	<section class="section section-lg pt-lg-0 mt--100">
	  <div class="container">
	    <div class="row justify-content-center">
	      <div class="col-lg-12">
	      	<!--Primera Fila -->
	        <div class="row row-grid">
	          <!--DEtalles-->
	          <div class="col-lg-6">
	          	<div class="row row-grid">
	          		<div class="col-lg-12">
	          			<div class="card  shadow border-0">
			              <div class="card-body py-5">
			                <h6 class="text-warning text-uppercase">FECHAS</h6>
			                {% for d in dates %}
			                <p class="description mt-3"><i class="far fa-calendar"></i> {{d.date_time|date:"D d M Y"}}</p>
			                {%empty%}
			                <p class="description mt-3"><i class="far fa-calendar"></i> No hay fechas disponibles</p>
			                {% endfor %}
			                <h6 class="text-warning text-uppercase">LUGARES</h6>
			            	<p class="description mt-3"><i class="fas fa-users"></i> {{travel.assistants}} viajeros</p>
			                <h6 class="text-warning text-uppercase">DETALLES</h6>
			                <p class="description mt-3">{{travel.description|markdown}}</p>
			                <h6 class="text-warning text-uppercase">RECOMENDACIONES</h6>
			                <p class="description mt-3">{{travel.recommendations|markdown}}</p>
			                <h6 class="text-warning text-uppercase">ITINERARIO</h6>
			                <p class="description mt-3">{{travel.itinerary|markdown}}</p>
			              </div>
			            </div>	
	          		</div>

	          		<div class="col-lg-12 py-5">
	          			<div class="card  shadow border-0">
			              <div class="card-body">
			                <h6 class="text-warning text-uppercase">PUNTOS DE SALIDA</h6>
			                {% for oringin in origins %}
			                <h6 class="text-warning"><i class="fas fa-map-pin"></i> {{oringin.name}}</h6>
			                {%endfor%}
			                <div id='map' style='width:auto; height: 300px;'></div>
			              </div>
			            </div>
	          		</div>

	          	</div>
	          </div>
	         
	          <!--Precios-->
	          <div class="col-lg-6">
	          	<div class="row row-grid">
	          		<div class="col-lg-12">
			            <div class="card  shadow border-0">
			              <div class="card-body py-5">
			                <h5 class="text-warning text-uppercase">PRECIOS<h5>
			                <div>
			                {% for p in prices %}
				            	{% for d in discounts %}
				                <h3><i class="fas fa-smile-wink"></i> {{d.value|stringformat:"d"}}% de Descuento</h3>
            	                <h2 class="text-success"> ${{d.calculate_disccount}}</h2>
				                <strike><h6 class="text-warning"> ${{p.cost}}</h6></strike>
				                <p class="description mt-3">{{p.description_price|markdown}}</p>
				                {%empty%}
				                <h5><i class="fas fa-frown"></i> No hay descuentos para este viaje.</h5>
				                <h2 class="text-warning"> ${{p.cost}}</h2>
				                <p class="description mt-3">{{p.description_price|markdown}}</p>				                
				            	{%endfor%}
				            {%endfor%}
			                </div>
			              </div>
			            </div>
		            </div>



		            <!--Compartir-->
			        <div class="col-lg-12 py-5">
			            <div class="card  shadow border-0">
			              <div class="card-body py-5">
			                <h6 class="text-warning text-uppercase">COMPARTE CON TUS AMIGOS<h6>
			                <div class="col-lg-6 text-lg-center btn-wrapper">

					          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="shared on Facebook">
					            <i class="fab fa-facebook"></i>
					          </a>

					          <a target="_blank" href="https://twitter.com/home?status=%23SinExcusasParaViajar%20@MorralViajero%20{{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-twitter btn-lg btn-round" data-toggle="tooltip" data-original-title="Shared on Twitter">
					            <i class="fab fa-twitter"></i>
					          </a>
					         
					          <a target="_blank" href="https://plus.google.com/share?url={{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-google-plus btn-round btn-lg" data-toggle="tooltip" data-original-title="Shared on Google +">
					            <i class="fab fa-google-plus-g"></i>
					          </a>

					          <a target="_blank" href="https://wa.me/?text={{request.build_absolute_uri}}%20" class="btn btn-neutral btn-icon-only btn-whatsapp btn-round btn-lg" data-toggle="tooltip" data-original-title="Shared on Whatsapp">
					            <i class="fab fa-whatsapp"></i>
					          </a>

					        </div>
			              </div>
			            </div>
			        </div>


		            <!--Letras Chiquitas-->
			        <div class="col-lg-12 py-5">
			            <div class="card  shadow border-0">
			              <div class="card-body py-5">
			                <h6 class="text-warning text-uppercase">LETRAS CHIQUITAS (¡Sí!, las que te dan hueva leer)<h6>
			                <div class="col-lg-12 btn-wrapper">

					          <p>1.- Cancelación del viaje por no contar con minimo de pasajeros requeridos.</p>

					        </div>
			              </div>
			            </div>
			        </div>
	            </div>
	          </div>  
            </div>
	      </div>
	    </div>
	  </div>
	</section>

{% endblock content%}


{% block scripts %}

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYmF3YmFtIiwiYSI6ImNqOGhpcHdpeDB0ZjMycWw5NHk1dGl4b3cifQ.UQ4RzBFZ1s_gX7CSHec-QQ';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/outdoors-v10',
    center: [-98.9182064,19.5184244],
    zoom: 8
});

map.on('load', function() {
  getRoute();
});

function getRoute() {
  {% for or in origins %}	
  var start = [{{or.lng|jsonify}}, {{or.lat|jsonify}}];
  {% endfor %}
  {% for dest in destinations %}	
  var end = [{{dest.lng|jsonify}}, {{dest.lat|jsonify}}];
  {% endfor %}
  var directionsRequest = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + start[0] + ',' + start[1] + ';' + end[0] + ',' + end[1] + '?geometries=geojson&access_token=' + mapboxgl.accessToken;
  $.ajax({
    method: 'GET',
    url: directionsRequest,
  }).done(function(data) {
    var route = data.routes[0].geometry;
    map.addLayer({
      id: 'route',
      type: 'line',
      source: {
        type: 'geojson',
        data: {
          type: 'Feature',
          geometry: route
        }
      },
      paint: {
        'line-width': 4
      }
    });
  });
	  map.addLayer({
	  id: 'start',
	  type: 'circle',
	  source: {
	    type: 'geojson',
	    data: {
	      type: 'Feature',
	      geometry: {
	        type: 'Point',
	        coordinates: start
	      }
	    }
	  }
	});
	map.addLayer({
	  id: 'end',
	  type: 'circle',
	  source: {
	    type: 'geojson',
	    data: {
	      type: 'Feature',
	      geometry: {
	        type: 'Point',
	        coordinates: end
	      }
	    }
	  }
	});
}
</script>
	
{% endblock scripts %}