{%extends 'base.html'%}
{%load static%}

{%block head%}

{%endblock head%}


{% block content %}

<section class="section section-lg">
	<div class="container">
		{% if not categoria %} 
			<a href="{% url 'travel:travel_list' %}"><span class="badge badge-pill badge-warning">Todos</span></a>
		{% endif %}
		{% for c in categories  %}
			<a href="{{c.get_absolute_url}}"><span class="badge badge-pill badge-warning">{{c.slug}}</span></a>
		{% endfor %}
	</div>	
</section>

<section class="section section-lg pt-lg-0 my-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
        {% for travel in travels  %}
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-header">
              	<img src="{% if travel.image_card %}{{travel.image_card.url}}{%else%}{%static 'img/brand/Logo-morral-1.png'%}{%endif%}"  class="img-fluid" alt="Morral Viajero">
              </div>
              <div class="card-body py-5">
                <h6 class="text-warning text-uppercase">{{travel.title}}</h6>
                <p class="description mt-3">{{travel.description|truncatewords_html:10}}</p>
                {% for d in travel.get_percentage  %}
                <span class="badge badge-pill badge-warning"><i class="fas fa-smile-wink"></i> {{d.value|stringformat:"d"}}% de Descuento</span>  
                {%empty%}
                <span class="badge badge-pill badge-warning"><i class="fas fa-frown"></i> No hay descuentos</span>  
                {% endfor %}
                <div>
                  {% for d in travel.get_first_date %}  
                  <span class="badge badge-pill badge-warning"><i class="far fa-calendar"></i> {{d.date_time|date:"D d M Y"}}</span>
                  {% endfor %}
                </div>
                <a href="{{travel.get_absolute_url}}" class="btn btn-warning mt-4">Más info..</a>
              </div>
            </div>
          </div>
          {%empty%}
    	    <div class="container shape-container d-flex">
    	      <div class="col px-0">
    	        <div class="row">
    	          <div class="col-lg-6">
    	            <p class="lead">
    	        	<br>
    	    		</p>
    	    		<h1 class="display-1">Aún no se crean mochilazos en esta categoría</span>
    	            </h1>
    	    		<p>
    	    		<br>
    	    		<br>
    	    		</p>
    	          </div>
    	        </div>
    	      </div>
    	    </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="pt-lg-0 my-3">
      	{% include "travel/pagination.html" with page=travels %}
      </div>
  </div>
</section>

{% endblock content %}
