{% load custom_tags %}
{% load static %}
<section class="section section-lg pt-lg-0 mt--100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
        {% for travel in recents_travels  %}
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-header">
              	<img src="{% if travel.image_card %}{{travel.image_card.url}}{%else%}{%static 'img/brand/Logo-morral-1.png'%}{%endif%}"  class="img-fluid" alt="Morral Viajero">
              </div>
              <div class="card-body py-5">
                <h6 class="text-warning text-uppercase">{{travel.title}}</h6>
                <p class="description mt-3">{{travel.description|truncatewords_html:10}}</p>
                {% for dis in travel.get_percentage %}
                <span class="badge badge-pill badge-warning"><i class="fas fa-smile-wink"></i> {{dis.value|stringformat:"d"}}% de Descuento</span>  
                {%empty%}
                <span class="badge badge-pill badge-warning"><i class="fas fa-frown"></i> No hay descuentos</span>
                {% endfor %}
                <div>
                {% for d in travel.get_first_date %}  
                  <span class="badge badge-pill badge-warning"><i class="far fa-calendar"></i> {{d.date_time|date:"D d M Y"}}</span>
                {% endfor %}
                </div>
                <a href="{{travel.get_absolute_url}}" class="btn btn-warning mt-4">Más info..</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container my-4">
  	<div class="justify-content-center text-center">
    	<a href="{% url 'travel:travel_list' %}" class="btn btn-warning">Todos</a>
    </div>
  </div>
</section>

