div#ivan {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(79, 195, 247,1.0);
  border-radius: 50%;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("../img/Ivan.jpg");
  margin: 30px auto;
}

div#info {
  position:absolute;
  overflow:hidden;
  color: #fff;
  border: 0 solid #29B6F6;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}

div#ivan:hover div#info {
  opacity:1;
}

p#headline {
  position: absolute;
  font-size: 2rem;
  margin-left: -100px;
  margin-top: 30px;
  transition: margin-left 0.3s;
}

div#ivan:hover p#headline {
  margin-left: 40px;
}

p#descripcion {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

p#redes_sociales {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}
div#ivan:hover p#redes_sociales {
  margin-left: 25px;
  margin-top: 0px;
}
div#ivan:hover p#descripcion {
  margin-top: 100px;
}
/*Itzel*/
div#itzel {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(79, 195, 247,1.0);
  border-radius: 50%;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("../img/Itzel.jpg");
  margin: 30px auto;
}

div#info {
  position:absolute;
  overflow:hidden;
  color: #fff;
  border: 0 solid #29B6F6;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}

div#itzel:hover div#info {
  opacity:1;
}

p#headline {
  position: absolute;
  font-size: 2rem;
  margin-left: -100px;
  margin-top: 30px;
  transition: margin-left 0.3s;
}

div#itzel:hover p#headline {
  margin-left: 40px;
}

p#descripcion {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

p#redes_sociales {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}
div#itzel:hover p#redes_sociales {
  margin-left: 25px;
  margin-top: 0px;
}
div#itzel:hover p#descripcion {
  margin-top: 100px;
}


/*Viajeros*/
div#nosotross {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(79, 195, 247,1.0);
  border-radius: 50%;
  background-size: cover;/*sólo para ejemplo*/
  background-image: url("../img/nosotros.jpg");
  margin: 30px auto;
}

div#info {
  position:absolute;
  overflow:hidden;
  color: #fff;
  border: 0 solid #29B6F6;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}

div#nosotross:hover div#info {
  opacity:1;
}

p#headline {
  position: absolute;
  font-size: 2rem;
  margin-left: -100px;
  margin-top: 30px;
  transition: margin-left 0.3s;
}

div#nosotross:hover p#headline {
  margin-left: 40px;
}

p#descripcion {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

p#redes_sociales {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}
div#nosotross:hover p#redes_sociales {
  margin-left: 25px;
  margin-top: 0px;
}
div#nosotross:hover p#descripcion {
  margin-top: 100px;
}