{% load blog_tags %}
{% load static %}
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">#BlogMorralViajero</h2>
        <p class="lead text-muted">Entradas recientes...</p>
      </div>
      <div class="col-lg-12">
        <div class="row row-grid">
        {% for post in latest_posts %}
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-header">
              	<img src="{% if post.image_card %}{{post.image_card.url}}{%else%}{%static 'img/brand/Logo-morral-1.png'%}{%endif%}"  class="img-fluid">
              </div>
              <div class="card-body py-5">
                <h6 class="text-warning text-uppercase">{{post.title}}</h6>
                <p class="description mt-3">{{post.body|truncatewords_html:5}}</p>
                <div>
                  <span class="badge badge-pill badge-warning"><i class="fas fa-pen"></i> {{post.author}}</span>
                </div>
                <a href="{{ post.get_absolute_url }}" class="btn btn-warning mt-4">Leer</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

