{% extends 'base.html'%}
{%load static%}
{% load blog_tags %}

{% block title %}
	Blog
{% endblock title %}
{%block head%}
	
{%endblock head%}
{%block header%}

{%endblock header%}
{% block content %}
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default-blog shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <p class="lead">
                <br>
                </p>
                <h2 class="display-4" style="color: #fff;"><span>#BlogMorralViajero</span></h2>
                <br>
                <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>

    <section class="section section-lg pt-lg-0 mt--100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
            {% for post in posts %}
              <div class="col-lg-3">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-header">
                    <img src="{% if post.image_card %}{{post.image_card.url}}{%else%}{%static 'img/brand/Logo-morral-1.png'%}{%endif%}"  class="img-fluid">
                  </div>
                  <div class="card-body py-5">
                    <h6 class="text-warning text-uppercase">{{post.title}}</h6>
                    <!--<p class="description mt-3">{{post.description|truncatewords_html:10}}</p>-->
                    <div>
                    {% for tag in post.tags.all %}  
                      <a href="{% url 'blog:post_list_by_tag' tag.slug %}"><span class="badge badge-pill badge-warning"><i class="fas fa-tag"></i> {{ tag.name }}</span></a>
                      {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                    <a href="{{post.get_absolute_url}}" class="btn btn-warning mt-4">LEER</a>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="pt-lg-0 my-3">
            {% include "blog/pagination.html" with page=posts %}
        </div>
      </div>
    </section>
{% endblock content %}
