{% extends 'base.html'%}
{% load static%}
{% load blog_tags %}



{% block head %}
    <!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="{{request.build_absolute_uri}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ post.title }}" />
    <meta property="og:description"   content="{{ post.body}}" />
    <meta property="og:image"         content="{{ post.portada.url}}" />




{% endblock head %}

{% block title %}
	{{ post.title }}
{% endblock title %}

{% block content %} 

  <section class="blog_d view" style="background-image: url({{ post.portada.url}}); padding-top:100px;">
    <div class="container text-center" style="padding: 70px;">
        <div class="col-lg-12 text-lg-center btn-wrapper text-center">
          <h2 class="text-white text-uppercase">COMPARTIR<h2>
          <!--<div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank">Compartir</a>-
          </div>-->
           <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="shared on Facebook">
            <i class="fab fa-facebook"></i>
          </a>

          <a target="_blank" href="https://twitter.com/home?status=%23SinExcusasParaViajar%20@MorralViajero%20{{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-twitter btn-lg btn-round" data-toggle="tooltip" data-original-title="Shared on Twitter">
            <i class="fab fa-twitter"></i>
          </a>
         
          <a target="_blank" href="https://plus.google.com/share?url={{request.build_absolute_uri}}" class="btn btn-neutral btn-icon-only btn-google-plus btn-round btn-lg" data-toggle="tooltip" data-original-title="Shared on Google +">
            <i class="fab fa-google-plus-g"></i>
          </a>

          <a target="_blank" href="https://wa.me/?text={{request.build_absolute_uri}}%20" class="btn btn-neutral btn-icon-only btn-whatsapp btn-round btn-lg" data-toggle="tooltip" data-original-title="Shared on Whatsapp">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
    </div>
  </section>

  <section>
    <div class="container" style="padding-top:20px;">
      <div class="row">
        <div class="col-lg-2">
          <a href="{% url 'blog:post_list' %}"><p><i class="fa fa-arrow-left" aria-hidden="true"></i> Lista de post</p></a>
        </div>
        <div class="col-lg-8 content-markdown content-justify">
          <h1 class="display-1">{{ post.title }}</h1>
          <p class="text-red"><i class="fas fa-calendar-alt"></i> {{ post.publish|date:"d/M/Y" }} , <i class="far fa-user"></i> {{ post.author }}.</p>
          {{post.body|markdown}}
        </div> 
      </div>
    </div>
  </section>




{% endblock content %}

{% block scripts %}
  
{% endblock scripts %}