{% load blog_tags %}

<div class="container" style="padding: 30px;">
	<h2 class="text-center title">Blog - Entradas Destacadas</h2>
	<hr>
	{% get_most_commented_posts as most_commented_posts %}
    {% for post in most_commented_posts %}
	{% if forloop.first %}
	<div class="row" style="padding-top: 3px;">
	{%endif%}
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 17rem;">
			  <img class="card-img-top" src="{{post.portada.url}}" alt="Teotihuacán Mágico" width="50" height="150">
			  <div class="card-block">
			    <h4 class="card-title title-card text-center">{{post.title|truncatewords_html:3}}</h4>
			    
			   </div>
			    <a href="{{post.get_absolute_url}}" class="btn btn-danger">Leer</a>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 %}
		</div><div class="row">
		{% endif %}            
	    {% if forloop.last %}
	        </div>
	    {% endif %}
	{%endfor%}
	</div>
</div>

