{%extends 'base.html' %} 

{%load static%}
{% load custom_tags%}
{%block head%}

{%endblock head%}


{% block content %}

<section class="blog_d view" style="background-image: url('../static/img/nosotros.jpg'); padding-top:100px;">
  <div class="container text-center" style="padding: 70px;">
    <div class="col-lg-6 offset-lg-3">
      <h2 class="display-4" style="color:#fff;">Nosotros</h2>
    </div>
  </div>
</section>


<section>
<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-lg-12 content-markdown content-justify">
    	<p>
    		La mayoría de las empresas que brindan servicios turísticos se basan en lo mismo, “generar experiencias y seguridad”, pero, ¿Qué más pueden ofrecerme? ¿Realmente cubren mis “ganas” de viajar? ¿Qué busco yo en el viaje? ¿Porqué estoy viajando con “x” agencia turística?... 
    	</p>
    	<p>
			Para nosotros; Morral viajero, ¡sí! También es importante brindarte seguridad y generar experiencias y no sólo eso,  queremos que seas parte de nuestra familia Morral viajero, que disfrutes cada travesía, sentir que valió la pena impartir está nueva anécdota que podrás contarle a tu familia, mascota o a quién más confianza le tengas, queremos acercarte más a nuestra cultura, explorar cada rincón de nuestro País, enamorarte de cada color, arte, danza, música… estar en contacto con la naturaleza de forma responsable, descubrir exquisitos sabores con la gastronomía, es viajar al pasado estando en el presente, brindándote la mejor atención antes, durante y después del viaje. 
    	</p>
    </div>
    <div class="col-lg-12 content-markdown text-center">
    	<h2>Mochileros</h2>
    	<div class="row">
    		<div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-4">
            <div id="nosotross">
               <div id="info">
                 <p id="headline" class="text-center">Mochilero</p>
                 <p id="descripcion">Igual eres parte de Morral Viajero</p>
                 <p id="redes_sociales">      
                 </p>
               </div>
            </div>
        </div>
    		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div id="itzel">
               <div id="info">
                 <p id="headline">Itzel Villeda</p>
                 <p id="descripcion">CEO</p>
                 <p id="redes_sociales"> 
                 </p>
               </div>
            </div>
        </div>
    		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div id="ivan">
               <div id="info">
                 <p id="headline">Iván López</p>
                 <p id="descripcion">Developer</p>
                 <p id="redes_sociales"> 
                 </p>
               </div>
            </div>
        </div>
    	</div>
    </div>  
  </div>
</div>
</section>
	
{% endblock content %}