{%extends 'base.html' %} 

{%load static%}
{% load custom_tags%}
{%block head%}

{%endblock head%}


{% block content %}




<main>
	<div class="position-relative">
	  <!-- shape Hero -->
	  <section class="section-shaped my-0">
	    <div class="shape shape-style-1 shape-default shape-skew">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	    </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <p class="lead">
            <br>
          </p>
          <h2 class="display-3"><span>#SinExcusasParaViajar</span></h2>
          <h2 class="display-2"><span>#DíadeMuertos</span></h2>
          <br>
          <br>
          </p>
            </div>
          </div>
        </div>
      </div>
	  </section>
	  <!-- 1st Hero Variation -->
	</div>
    <!--Tag de viajes recientes-->
    {%show_recents_travels%}

    <!--section de pagos a meses sin intereses-->
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="{% static 'img/theme/card.jpeg' %}" class="img-fluid floating" alt="Morral Viajero">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                <i class="fas fa-credit-card"></i>
              </div>
              <h3>Viajar es más fácil</h3>
              <p>Con Morral Viajero puedes pagar tus viajes desde <strong> 3 y 6 meses sin intereses.</strong></p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-warning mr-3">
                        <i class="fas fa-check-double"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Elije uno, de nuestro mochilazos.</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-warning mr-3">
                        <i class="fas fa-check-double"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Prepara tu mochila.</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-warning mr-3">
                        <i class="fas fa-check-double"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Ahora si <strong>#SinExcusasParaViajar.</strong></h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                	<div class="d-flex align-items-center">
	                  <div class="justify-content-center text-center">
      					    	<a href="https://wa.me/525586841192?text=Me%20gustaría%20saber%20el%20precio%20del%20Viaje" class="btn btn-warning" target="_blank">Más Información</a>
      					    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Cotiza tu viaje-->
    <section class="section section section-shaped my-0 overflow-hidden">
      <div class="shape shape-style-1 bg-gradient-warning shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-0">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-1 ml-lg-auto">
            <div class="card bg-default shadow border-0 floating">
              <img src="{% static 'img/theme/mochilazo.jpeg' %}" class="card-img-top" alt="Morral Viajero">
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-default" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                </svg>
                <h4 class="display-3 font-weight-bold text-white text-center">¡Organiza tu mochilazo!</h4>
                <div class="justify-content-center text-center">
                      <a href="https://wa.me/525586841192?text=Me%20gustaría%20organizar%20un%20viaje" class="btn btn-warning" target="_blank">COTIZAR</a>
                    </div>
              </blockquote>
            </div>
          </div>
          <div class="col-md-6 order-md-2">
            <div class="card shadow shadow-lg--hover mt-3">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="fas fa-car"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Transporte</h5>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-3">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="fas fa-user-shield"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Seguro de mochilero</h5>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-3">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="far fa-grin-alt"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Mucha Diversión</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



{% endblock content %}

