{%extends 'base.html' %} 

{%load static%}
{% load custom_tags%}
{%block head%}

{%endblock head%}


{% block content %}

<div class="position-relative">
	  <!-- shape Hero -->
	  <section class="section-shaped my-0">
	    <div class="shape shape-style-1 shape-primary shape-skew">
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	      <span></span>
	    </div>
	    <div class="container shape-container d-flex">
	      <div class="col px-0">
	        <div class="row">
	          <div class="col-lg-6">
	            <p class="lead">
	        	<br>
	    		</p>
	    		<h1 class="display-1" style="color: #fff;"><span>Generando nuevas experiencias, esperalas muy pronto!</span></h1>
	    		<br>
	    		<br>
	    		<br>
	    		</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	  <!-- 1st Hero Variation -->
	</div>
	
{% endblock content %}