{%extends 'base.html' %} 

{%load static%}
{% load custom_tags%}
{%block head%}

{%endblock head%}


{% block content %}

<section class="blog_d view" style="background-image: url('../static/img/Portada terminos.png'); padding-top:100px;">
<div class="container text-center" style="padding: 70px;">
  <div class="col-lg-6 offset-lg-3">
    <h2 class="display-4" style="color:#fff;">TÉRMINOS Y CONDICIONES.</h2>
  </div>
</div>
</section>


<section>
<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-lg-12 content-markdown content-justify">
      <h4>I. SOLICITUDES Y PAGOS</h4>
      <p>1)El precio y/o reservación de los servicios que componen el tour quedan sujetos a modificaciones sin previo aviso cuando se produzca una alteración en los servicios, modificaciones en los costos o en los tipos de cambio previstos, por causas no imputables a las partes. 2) Todos los importes pagados antes de la confirmación definitiva de los servicios son percibidos en concepto de reserva. La confirmación definitiva de los servicios y precios respectivos se producirá con la emisión de pasajes y/u órdenes de servicios y la facturación correspondiente. 3) Las operaciones a crédito deberán satisfacer los requisitos propios fijados para las mismas. En su defecto el interesado deberá cumplimentar el pago de los saldos en los plazos y condiciones establecidos en la contratación.</p>

      <h4>II. LOS PRECIOS INCLUYEN</h4>
      <p> Alojamiento en los hoteles mencionados en los itinerarios u otros de igual o mayor categoría, ocupando habitaciones simples, dobles, triples, etc. Según tarifa elegida, con baño privado e impuestos. Visitas y excursiones que se mencionen. Traslados hoteles o lugares a visitar cuando se indique. La cantidad prevista de días de alojamiento teniendo en cuenta que el día de alojamiento hotelero se computa desde las quince horas y finaliza a las doce horas del día siguiente, independientemente de la hora de llegada y de salida y de la utilización completa o fraccionada del mismo. La duración del tour será indicada en cada caso tomando como primer día, el de salida y como último incluido el día de salida del destino, independientemente del horario de salida o de llegada en el primer día o en el último.</p>

      <h4>III. SERVICIOS O RUBROS NO INCLUIDOS</h4>
      <p> 1) Extras, bebidas, lavado de ropa, propinas, tasas sobre servicios, IVA y otros impuestos, actuales y/o futuros, ni ningún servicio que no se encuentre expresamente indicado en la orden de servicio emitida por Morral Viajero. 2) Estadas, comidas y/o gastos adicionales o perjuicios producidos por cancelaciones, demoras en las salidas o llegadas de los medios de transporte, o por razones imprevistas ajenas a la empresa. 3) Alimentación en ruta, excepto aquellas que estuviesen expresamente incluidas en los programas. 4) Los gastos e intereses en las operaciones a crédito.</p>

      <h4>IV. LIMITACIONES AL DERECHO DE PERMANENCIA</h4>
      <p>Morral Viajero reserva el derecho de hacer que abandone el tour en cualquier punto del mismo todo pasajero cuya conducta, modo de obrar, estado de salud u otras razones graves a juicio de la empresa provoque peligro o cause molestias a los restantes viajeros o pueda malograr el éxito de la excursión o el normal desarrollo de la misma.</p>

      <h4>V. CANCELACIONES</h4>
      <p>1) En caso de desistimiento de operaciones a crédito no tendrán reembolso los importes abonados en concepto de informe, gastos administrativos e intereses. 2) Cuando el viaje se cancele por parte de Morral Viajero en este caso no cubrir con el cupo establecido, se re programará nueva fecha, sin realizar rembolso. 3) En caso de cancelación del viajero tendrán 20 días de anticipación antes del viaje Morral Viajero podrá retener el precio de los gastos incurridos más la comisión del diez por ciento de los servicios contratados con terceros.</p>

      <h4>VI. CESION Y TRANSFERENCIA</h4>
      <p>El derecho que confiere al cliente el contrato de servicios turísticos, podrá ser cedido o transferido a otras personas hasta 30 días antes de la fecha de salida, siempre que no se opongan a ello las prescripciones del transportista, del hotelero o prestador de los servicios. En los supuestos que los pasajeros sean de distintas edades (mayores-menores), se ajustará el precio según tarifarios. En todos los casos de cesión o transferencia, la empresa podrá percibir el sobreprecio del 10% del monto convenido.</p>

      <h4>VII. RESPONSABILIDAD</h4>
      <p>1) Morral Viajero declara expresamente que actúa en el carácter de intermediaria en la reserva o contratación de los distintos servicios vinculados e incluidos en el respectivo tour o reservación de servicios: hoteles, restaurantes, medios de transportes u otros prestadores. 2) Morral Viajero no se responsabiliza por los hechos que se produzcan por caso fortuito o fuerza mayor, fenómenos climáticos o hechos de la naturaleza que acontezcan antes o durante el desarrollo del tour que impidan, demoren o de cualquier modo obstaculicen la ejecución total o parcial de las prestaciones comprometidas por la empresa, de conformidad con lo dispuesto por el Código Civil.</p>

      <h4>VIII. ALTERACIONES O MODIFICACIONES</h4>
      <p>1) Morral viajero reserva el derecho, por razones técnicas u operativas, de alterar total o parcialmente el ordenamiento diario y/o de servicios que componen el tour, antes o durante la ejecución del mismo. 2) Salvo condición expresa en contrario, los hoteles estipulados podrán ser cambiados por otro de igual o mayor categoría dentro del mismo núcleo urbano sin cargo alguno para el pasajero. Respecto de estas variaciones el pasajero no tendrá derecho a indemnización alguna.
	  2) Una vez comenzado el viaje, la suspensión, modificación o interrupción de los servicios por parte del pasajero por razones personales de cualquier índole, no dará lugar a reclamo alguno, reembolso o devolución alguna.</p>

	  <h4>IX. CLAUSULA DE ARBITRAJE</h4>
	  <p>Toda cuestión que surja con motivo de la celebración, cumplimiento, incumplimiento, prórroga o rescisión del presente contrato, podrá ser sometida por las partes a la resolución del Centro de Arbitraje en México. En caso de sometimiento de dicha jurisdicción, los contratantes se sujetan y dan por aceptadas todas las condiciones establecidas por la Reglamentación del Tribunal Arbitral.</p>
    </div> 
  </div>
</div>
</section>
	
{% endblock content %}